.table-responsive
  table.table.table-striped.table-hover
    tbody
      - @posts.each do |post|
        tr
          td
            = link_to post.title, post, class: 'text-decoration-none'
            .text-muted.small.mt-1
              = truncate(post.body, length: 80)
          td
            = post.created_at.strftime('%d.%m.%Y %H:%M')
          td.text-end
