.col-2
  - if current_user&.liked?(@post)
    = button_to '♥', post_like_path(@post), method: :delete, class: 'liked btn btn-link'
  - elsif current_user
    = button_to '♡', post_likes_path(post_id: @post.id), method: :post, class: 'not-liked btn btn-link'

.col-10
  p.text-muted
    h3.mb-4
      = @post.title

| Опубликовано:
= @post.created_at.strftime('%d.%m.%Y в %H:%M')

.card.mb-4
  .card-body
    p
      = @post.body

.d-flex.justify-content-between.align-items-center
  .btn-group
    = link_to 'Назад', posts_path, class: 'btn btn-outline-secondary'
    = link_to 'Удалить', @post, method: :delete, class: 'btn btn-danger disabled'
.my-4

= render partial: 'posts/comment', collection: @post.comments.by_parent_id(nil), as: :comment

/ // Комментарии (если есть)
/ - if @post.comments.any?
/   hr.my-4
/   h3 Комментарии
/   - if @comment&.errors&.any?
/     - @comment.errors.full_messages.each do |message|
/       .alert.alert-danger role="alert"
/         = message
/   - @post.comments.each do |comment|
/     .card.mb-
/       .card-body
/         p.font-weight-bold
/           = comment.user.email
/         p
/           = comment.content
/         small.text-muted
/           = comment.created_at.strftime('%d.%m.%Y %H:%M')
/
/ // Форма для добавления комментария (если нужно)
/ - if user_signed_in?
/   hr.my-4
/   h3 Добавить комментарий
/   = simple_form_for([@post, @post.comments.build]) do |f|
/     = f.input :content, as: :text, label: false, placeholder: 'Ваш комментарий...'
/     = f.button :submit, 'Отправить', class: 'btn btn-success'
